/* primary colors */
$white: #ffffff;
$ice-white: #f0f0f2;
$white-plus: #ffffff63;
$green: #7dede2;
$dark-green: #58b790;
$form-green: #63c7a9;
$dark-gray: #363636;
$graphite-gray: #707070;
$gray: #0000004d;
$light-gray: #00000029;
$black: #00000029;

// working...

$breakpoint-tablet-min: 800px;
$breakpoint-tablet-max: 1024px;
$breakpoint-phone-max: 640px;
$breakpoint-phone-min: 320px;

$footer-background-color: $dark-green;
