.champion-card {
  background: transparent url('../../assets/ImagemCard.svg') no-repeat;
  box-shadow: 0px 3px 6px #00000099;
  opacity: 1;
  width: fit-content;
  background-size: cover;
  margin: auto;
  height: 100%;
  box-sizing: border-box;
}
