@import '../../utils/scss/variables';

.slider-section {
  box-sizing: border-box;
  background-color: $dark-gray;
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 0 143px;
}

.slider-section__container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 109px 0px 235px 0px;
}

.slider-section__container__arrow {
  height: 35px;
  width: 35px;
  box-sizing: border-box;
  background: transparent;
  border: none;
  display: block;
  padding: 0;
  margin: 0;
}

.--left {
  @extend .slider-section__container__arrow;
  border-bottom: solid 2px white;
  border-left: solid 2px white;
  transform: rotate(45deg);
}

.--right {
  @extend .slider-section__container__arrow;
  border-bottom: solid 2px white;
  border-right: solid 2px white;
  transform: rotate(-45deg);
}
