@import '../../utils/scss/variables';

.header {
  background-color: #363636;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: absolute;
  width: 100%;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__content__title {
  text-transform: uppercase;
  color: $white;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.68px;
  margin-left: 30px;
}
