@import '../../utils/scss/variables';

.form-section {
  background: transparent linear-gradient(143deg, $green 0%, $dark-green 100%)
    0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
  // padding: 0 200px;
}
