@import '../../utils/scss/variables';

.form-section {
  background: transparent linear-gradient(143deg, $green 0%, $dark-green 100%)
    0% 0% no-repeat padding-box;
  //   margin: 0 auto;
  display: flex;
  justify-content: center;
}
